<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ControllerLogin</servlet-name>
        <servlet-class>controller.auth.ControllerLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TakeExamController</servlet-name>
        <servlet-class>controller.exam.TakeExamController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCourseBylecturerController</servlet-name>
        <servlet-class>controller.exam.ViewCourseBylecturerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>controller.exam.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.auth.LogoutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControllerLogin</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TakeExamController</servlet-name>
        <url-pattern>/exam/take</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/exam/lecturer</url-pattern>
    </servlet-mapping>
</web-app>
